/*
Theme Name: MultiUp
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: rst
Tags: light, gray, white, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready

*/

.top-row-contact {
	padding: 0 180px 0 0;
	width: 100%;
    position: absolute;
   	z-index: 1000;
}
@media (max-width: 980px) { 
	.top-row-contact {
		display: none;	
	}
	.servicos {
		padding: 0 50px;
	}
	.servico {
		padding: 20px 0;
	}
	.scroll-down {
		display: none;
	}
	.mapa-procurando {
		display: none;
	}
	.rst-footer img {
		float: none !important;
	}
}

@media (min-width: 770px) {
	.tablet {
		padding-top: 90px !important;
	}
	.condominio-online .rst-header-pack {
		width: 35%;
	}
	.rst-header-menu {
		background-color: rgba(255, 255, 255, 0.5);
	}
}

@media (min-width: 981px) {
	/*--- OVERWRITTEN ---*/
	.rst-header-menu {
		padding-top: 30px;
		background-color: rgba(255, 255, 255, 0.5);
	}
}
	.top-row-contact p {
		color: #4E4E4E;
	    float: right;
	    font-size: 13px;
	    font-weight: 600;
	    line-height: 16px;
	    background-color: #fff;
	    padding: 11px;
	    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
	}


.first-section h3,
.line-heigth h3 {
	line-height: 35px;
}

.box-shadow {
	-webkit-box-shadow: 0px -3px 34px 0px rgb(161, 180, 194);
	-moz-box-shadow: 0px -3px 34px 0px rgb(161, 180, 194);
	box-shadow: 0px -3px 34px 0px rgb(161, 180, 194);
}

.scroll-down {
	margin-top: -50px;
	position: absolute;
	right: 47%;
	z-index: 100;
}

.rst-contact-box i {
	font-size: 28px !important;
}
.recaptcha {
	margin-bottom: 20px;
}

.procurando-imovel .rst-page-input, 
.procurando-imovel #rst-coming-page input[type="text"] {
	background: #fff !important;
	border-bottom: 2px solid #5C718A !important;
	border-radius: 5px !important;
	padding: 12px !important;
	margin: 0 0 10px 0 !important;
}

.procurando-imovel label {
	text-transform: uppercase;
	color: #283646;
	font-weight: 700;
	height: 40px;
}